span#mind {
	position : float;
	float : left;
}

span#univsavoie {
	position : float;
	float : right;
	padding-bottom : 50px;
}

div#top {
	margin-top: -0.4%;
	text-align : center;
	background-image : url("image/bandeau.png");
	background-repeat : no-repeat;
	background-size: 100% 100%;
	width : 100.9%;
	margin-left : -0.5%;
	
}

body{
	background-image : url("image/fond.png");
	background-repeat : no-repeat;
	background-size: 100% 100%;
	background-attachment : fixed;
}