@import "bandeau.css";

.lesboutons
{
	text-align :center;
}
.introduction
{
	
  list-style: none;
	background-color: yellow;
	 border-radius: 12px;
    color: black;
    border: 2px solid #555555;
    padding: 0px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	 cursor: pointer;
	 line-height:300px;
	 margin-left : 1.5%;
}
.introduction a
{
	text-decoration:none;
	
	color: black;
	display:block;
	width:100%;
	height:100%;
	
}

.introduction:hover {
   background-color: white; /* Green */
    color: white;
}

.classe2
{
	list-style: none;
	background-color: yellow;
	 border-radius: 12px;
    color: black;
    border: 2px solid #555555;
    padding: 0px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	 cursor: pointer;
	 line-height:300px;
	 margin-right : 1.5%;
	 
}

.classe2 a 
{
	text-decoration:none;
	
	color: black;
	display:block;
	width:100%;
	height:100%;
	
}

.classe2:hover {
    background-color: white; /* Green */
    color: white;
}

.calibre
{
	text-align :center;	
	
}
.autocalibrage
{
	list-style: none;
	background-color: yellow;
	 border-radius: 12px;
    color: black;
    border: 2px solid #555555;
    padding: 0px 363px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	 cursor: pointer;
	 line-height:100px;
	
}
.autocalibrage a
{
	text-decoration:none;
	
	color: black;
	display:block;
	width:100%;
	height:100%;
	
}

.autocalibrage:hover {
   background-color: white; 
    color: white;
}

p
{
	
	
}
body

{

    

}

