.containerCompteur{
	width:400px;/*empèche que le compteur face toute la largeur de la page*/
	margin : 0 auto;/*permet de centrer le compteur*/
}
body{
	margin-top:80px;/* permet de commencer à afficher les pages en dessous du menus*/
	text-align : center/*permet de centrer le flux vidéo et le formulaire/*
}