.containerCompteur{
	width:212px;/*empèche que le compteur face toute la largeur de la page*/
	padding-right:15px;/*met un léger espace à droite du compteur*/
	padding-left:15px;/*met un léger espace à gauche du compteur*/
}
/* permet de commencer à afficher les pages en dessous du menus*/
body{
	margin-top:80px;
}