/* permet de commencer à afficher les pages en dessous du menus*/
body{
	margin-top:80px;
}

.formulaire{
	display: block;
}

.formulaire label {
	width: 100px;
	text-align: right;
}

.formulaire input, .formulaire select {
	margin-left: 20px;
}

#update {
	margin-left: 120px;
}